
fastapi==0.139.2
uvicorn[standard]==0.51.0

PyGithub==2.9.1

requests==2.34.2


google-generativeai==0.8.6

python-dotenv==1.2.2

qdrant-client==1.18.0
fastembed==0.8.0

PyYAML==6.0.3

httpx==0.28.1
pytest==9.1.1
